* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin:0;
}

.main-header {
    height: 95px;
    background-color: blueviolet;
    padding: 20px;
    padding-bottom: 8px;
}

.main-header h1 {
    margin:0;
    padding:0;
    text-align:center;
}

.content h2 {
    text-align:center;
}

/*genre1 styling starts*/
.header {
    flex: 1;
    height: 150px;
    padding: 35px;
    padding-bottom: 20px;
    background-color: #1B1B1B;
    /* background-color: #2B2D2F; */
    /* border: 1px solid #383737; */
    z-index: 10;
}

.header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 45px;
    color: white;
    font-family: "Allerta Stencil", Sans-serif;
}

.flex-container1 {
    flex: 7;
    display: flex;
    flex-wrap: no-wrap;
    /* margin-bottom: 6px; */
    /* background-color: blueviolet; */
    /* border: 1px solid #383737; */
    /* z-index: 10; */
    height: 350px;
    background-image: url('./assets/musidex-main-image.jpg');
    background-size: 100vw;
    background-position: center;
    box-shadow: inset 0px 0px 200px 1000px rgb(0, 0, 0, 0.6);
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 15%;
    /* background-color: rgb(71, 69, 68); */
    padding: 10px;
    margin-left: 3vw;
    text-transform: uppercase;
  }

  .side h2 {
    padding-top: 100px;
    text-align: center;
    color: #fff;
  }

  .side a {
    text-decoration: none;
    color: #fff;
  }

  .albums, .artists {
    background-color: #c7c6c6;
    text-align: center;
    color: rebeccapurple;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Allerta Stencil", Sans-serif;
  }

  .artists {
    margin-top: 5px;
  }

  .albums:hover, .artists:hover {
    background-color: burlywood;
    opacity: 0.9;
    border-bottom: 3px solid #606060;
  }

  .page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 85%;
    padding-right: 17vw;
    color: white;
    /* background-color: white; */
    /* padding: 20px; */
    /* background-image: url('./assets/musidex-main-image.jpg');
    background-size: 70vw;
    background-position: center;
    box-shadow: inset 0px 0px 100px 300px rgb(0, 0, 0, 0.5); */
  }

  .main h4 {
    text-align:center;
    font-family: "Allerta Stencil", Sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    background: #333;
    color: #fff;
    border-radius: 90px;
    opacity: 0.7;
}

.showcase h3 {
  text-align: center;
  font-size: 30px;
}

#demo {
    text-align:center;
}
/*genre1 styling ends*/

  .footer {
    flex: 1;
    height: 85px;
    background-color: #1B1B1B;
    /* background-color: #2B2D2F; */
    padding: 15px;
    color:#fff;
  }

  .footer p {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 10px;
      margin: 0;
      padding: 10px;
      text-align: center;
  }

/*.artists h4{
    padding: 10px;
    text-transform:uppercase;
    text-align:center;
}

.albums h4{
    padding: 10px;
    text-transform:uppercase;
    text-align:center;
}
.flex-container2{
    display:flex;
    flex-wrap: wrap;
  margin-bottom: 6px;
}

.list_artists{
    flex:50%;
}
.list_albums{
    flex:50%;
}

.list_albums p{
    text-align:center;
}

.list_artists p{
    text-align:center;
}*/
