*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin:0;
}
.main-header{
    height:95px;
    background-color:blueviolet;
    padding:20px;
    padding-bottom: 8px;

}
.main-header h1{
    margin:0;
    padding:0;
    text-align:center;
}
.content h2{
    text-align:center;
}
/*genre1 styling starts*/
.header{ 
    height:150px;
    padding:35px;
    padding-bottom:20px;
    /*background-color:blueviolet;*/
    background-color: #383737;
    border: 1px solid #383737;
    box-shadow: 0 5px 10px #000000;
    z-index: 10;  
}
.header h1{
    margin:0;
    padding:0;
    text-align:center;
    font-size: 45px;
    color: blueviolet;
    font-family: "Allerta Stencil", Sans-serif;
}
.flex-container1{
    display: flex;
    flex-wrap: no-wrap;
    margin-bottom: 6px;
    background-color: blueviolet;
    border: 1px solid #383737;
    box-shadow: 0 5px 10px #000000;
    z-index: 10; 
    height: 350px;
}
.side {
    flex: 15%;
    background-color: blueviolet;
    background-color: rgb(71, 69, 68);
    padding: 10px;
    text-transform:uppercase;
    
  }
  .side h2{
    text-align:center;
    color: #fff;
   
  }

  .side a{
    text-decoration:none;
    color: #fff;
  }
  .albums, .artists{
    background-color: #c7c6c6;
    text-align:center;
    color: rebeccapurple;
    width: 100%;
    padding: 15px;
    cursor:pointer;
    font-weight:bolder;
    font-size: 20px;
    font-family: "Allerta Stencil", Sans-serif; 
  }
  .albums:hover, .artists:hover{
    background-color: burlywood;
    opacity:0.9;
    border-bottom: 3px solid #606060;  
  }

  .main {
    flex: 85%;
    background-color: white;
    padding: 20px;
    background-image: url('./assets/image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main h4{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
  }
.showcase{
    margin: 105px;
    height:80px;
    background:#333;
    color:#fff;
    border-radius:90px;
    opacity:0.9;
}
.showcase h3{
  text-align:center;
  font-size:50px;
  padding-top:10px;
  margin:0;
  padding-bottom:20px;
}

#demo{
    text-align:center;
}
/*genre1 styling ends*/

  .footer {
    height: 85px;
    background: #333;
    padding: 15px;
    color:#fff;
  }

  .footer p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height:10px;
      margin:0;
      padding:10px;
      text-align:center;
  }

/*.artists h4{
    padding: 10px;
    text-transform:uppercase;
    text-align:center;
}

.albums h4{
    padding: 10px;
    text-transform:uppercase;
    text-align:center;
}
.flex-container2{
    display:flex;
    flex-wrap: wrap;
  margin-bottom: 6px;
}

.list_artists{
    flex:50%;
}
.list_albums{
    flex:50%;
}

.list_albums p{
    text-align:center;
}

.list_artists p{
    text-align:center;
}*/

